<div id="wrapper_about">
	<div id="content_standard">
		<p class="spacing3">
			Hey there! I'm Edward. I love design and coding, and web design provides an awesome medium for doing both. 
		</p>
		<p class="spacing3">
			You can contact me by e-mail at eddywerdy@gmail.com, or follow me on twitter at @eddywerdy.
		</p>
	</div>
</div>