<%= render 'layouts/header' %>

<div id="wrapper_about">
	<div id="content_standard">
		<p class="spacing3">
			Hey there! The name's Edward. I'm a 16-year-old student at Waterloo Collegiate, and this is my website. It's a humble effort, but my goal is to constantly improve my skills in the hopes that one day, I can inspire others.
		</p>
		<p class="spacing3">
			You can contact me by e-mail at eddywerdy@gmail.com, or follow me on twitter at @eddywerdy.
		</p>
	</div>
</div>