<script src="jquery.color.js"></script>

<div id="wrapper">
	<div id="banner">
		<p class="spacing1">
			Great things start with an <strong>IDEA</strong>, followed up by <strong>ACTION</strong>.
		</p>
		<div id="banner_line">
			<h2>Dev and design for all your ideas.</h2>
		</div>
	</div>
	<div id="content">
		<div id="column_left">
			<div class="circle"><%= image_tag("lightbulb.png") %></div>
			<h5>The Idea</h5>
			<p class="spacing2">This is where it all begins. It's the foundation for everything that follows. Sometimes, it springs out of nowhere, others, it's the result of inspiration from others' work. One should never underestimate the power of an idea.</p>
		</div>
		<div id="column_middle">
			<div class="circle"><%= image_tag("pencil.png") %></div>
			<h5>The Process</h5>
			<p class="spacing2">This is the action, driven by the fuel of the idea. It's where technical skill and finesse come together to produce something outstanding. Not all ideas lead to a seamless process, but sometimes, they're the most rewarding.</p>
		</div>
		<div id="column_right">
			<div class="circle"><%= image_tag("computer.png") %></div>
			<h5>The Result</h5>
			<p class="spacing2">This is the result of the work that goes into the process. An idea, framed beautifully in an appropriate medium. It's something everyone involved should be proud of, as individual as the people who produced it.</p>
		</div>
	</div>
</div>