<script src="jquery.color.js"></script>

<div id="wrapper">
	<div id="banner">
		<p class="spacing1">
			Great things start with an <strong>IDEA</strong>, followed up by <strong>ACTIONS</strong>
		</p>
		<div id="banner_line">
			<h2>Welcome to Lydrew!</h2>
		</div>
	</div>
	<div id="content">
		<p class="spacing2">
			A little while ago, I started realized that I could always come up ideas, but never seemed to do anything with them. I was lacking inspiration. We could all really use some inspiration. Ideas that are powerful enough to surge past implied boundaries. Ideas that motivate us, giving us reason to push ourselves forward. But no matter how great we want to become, we all have to start somewhere small.
		</p>
		<p class="spacing2">
			That lead me to create this site. It's a small experiment that I plan on updating, and who knows, maybe it might take me somewhere.
		</p>
	</div>
</div>