<div id="wrapper_blog">
	<div id="content_standard">
		<div id="content_holder_single">
				<h3><%= @post.title %></h3>
				<h4><%= @post.created_at.to_date %></h4>
				<p class="spacing4"><%= raw @post.content%></p>
				<p class="spacing4"><%= link_to "<-Back", :back %></p>
		</div>
	</div>
</div>