/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	margin: 0;
}

h1 {
	color: #d8eee8;
	font-size: 64px;
	font-family: 'Raleway', sans-serif;
	padding-left: 10%;
	margin-top: 45px;
	width: 250px;
	opacity: 1;
	img {
		height: 61px;
	}
}

#header {
	margin-left: 0;
	height: 150px;
	width: 100%;
	position: fixed;
	background-color: black;
	margin: 0 auto;
	z-index: 2;
}

#header_nav {
	margin-top: -115px;
	margin-right: 10%;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	float: right;
	li {
		margin-left: 15px;
		display: inline;
	}
	a {
		color: white;
		text-decoration: none;
	}
}

.spacer {
	margin-left: 15px;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	float: left;
	color: white;
	margin-top: 150px;
	background-color: #65BAA2;
	background-image: url('starfield.png');

}

#wrapper_about {
	width: 100%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	float: left;
	color: white;
	margin-top: 150px;
	background-color: #65BAA2;
	background-image: url('starfield.png');
}

#wrapper_blog {
	width: 100%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	float: left;
	color: white;
	margin-top: 150px;
	background-color: #65BAA2;
	background-image: url('starfield.png');
}

#banner {
	width: 80%;
	margin: 0 auto;
	background: white;
	background: -moz-linear-gradient(left, #d3d3d3 0%, #ffffff 50%, #d3d3d3 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d3d3d3), color-stop(50%,#ffffff), color-stop(100%,#d3d3d3));
	background: -webkit-linear-gradient(left, #d3d3d3 0%,#ffffff 50%,#d3d3d3 100%);
	background: -o-linear-gradient(left, #d3d3d3 0%,#ffffff 50%,#d3d3d3 100%);
	background: -ms-linear-gradient(left, #d3d3d3 0%,#ffffff 50%,#d3d3d3 100%);
	background: linear-gradient(to right, #d3d3d3 0%,#ffffff 50%,#d3d3d3 100%);
	height: 529px;
	opacity: 0.6;
}

#banner_line {
	margin-top: 95px;
	height: 120px;
	width: 100%;
	background-color: black;
}

h2 {
	margin: 0;
	padding-top: 25px;
	text-align: center;
	font-size: 52px;
	opacity: 1;
}

.spacing1 {
	padding-top: 80px;
	color: black;
	width: 500px;
	margin: 0 auto;
	font-size: 48px;
	line-height: 1.5em;
	text-align: center;
}

.spacing2 {
	padding-top: 8px;
	width: 85%;
	margin: 0 auto;
	line-height: 1.5em;
	text-align: center;
	font-size: 14px;
}

.spacing3 {
	padding-top: 40px;
	width: 60%;
	margin: 0 auto;
	font-size: 48px;
	line-height: 1.5em;
	text-align: left;
	font-size: 18px;
	color: black;
}

.spacing4 {
	padding-top: 40px;
	width: 100%;
	margin: 0 auto;
	font-size: 48px;
	line-height: 1.5em;
	text-align: left;
	font-size: 18px;
	color: black;
	a {
		text-decoration: none;
		color: #004182;
	}
	a:hover {
		color: black;
	}
}

strong {
	font-size: 64px;
	font-weight: bold;
	letter-spacing: 6px;
	color: #004182;
}

#content {
	background-color: #4F4F4F;
	min-height: 570px;
	height: auto;
	width: 70%;
	margin: 0 auto;
	opacity: 0.8;
}

#content_standard {
	width: 70%;
	margin: 0 auto;
	border-top: 5px solid white;
	background-color: white;
	height: auto;
	min-height: 474px;
	opacity: 0.8;
	overflow: hidden;
}

#content_holder {
	width: 70%;
	float: right;
}

#content_holder_single {
	width: 70%;
	margin: 0 auto;
}

#sidebar {
	width: 30%;
	float: left;
	color: black;
	h3 {
		text-align: center;
	}
	li {
		text-align: center;
		list-style: none;
		padding-top: 5px;
		a {
			text-decoration: none;
			color: #004182;
		}
		a:hover {
			color: black;
		}
	}
}

h3 {
	color: black;
	margin: 0 auto;
	padding-top: 25px;
	font-size: 24px;
}

h4 {
	color: black;
	font-size: 15px;
	margin: 0 auto;
}

h5 {
	color: #7ABDFF;
	font-size: 24px;
	text-align: center;
}

.divider {
	height: 1px;
	width: 80%;
	background-color: black;
	margin: 0 auto;
	margin-top: 30px;
	opacity: 0.25;
}

#home_main {
	background-color: white;
	width: 70%;
	margin: 0 auto;
	height: 600px;
	opacity: 0.7;
	position: relative;
}

#column_left {
	width: 32%;
	float: left;
	height: 500px;
	margin-top: 10px;
	margin-left: 1%;
}

#column_middle {
	width: 32%;
	float: left;
	height: 500px;
	margin-top: 10px;
	margin-left: 1%;
}

#column_right {
	width: 32%;
	float: right;
	height: 500px;
	margin-top: 10px;
	margin-right: 1%;
}


#footer {
	width: 100%;
	height: 50px;
	color: white;
	float: left;
	background-color: black;
	margin: 0 auto;
	p {
		font-family: 'Raleway', sans-serif;
		text-align: center;
	}
}

.circle {
	padding-top: 20px;
	width: 150px;
	margin: 0 auto;
	img {
		width: 150px;
	}
}